@page "/"

<h1>Cifras (programa "Cifras y letras" de la tele)</h1>

<p>Encuentra la solución exacta o aproximación</p>

<fieldset>
    <legend>Elige un Modo</legend>
    <label>
        <input type="radio" name="color" value="azul"> La 2
    </label>
    <label>
        <input type="radio" name="color" value="negro"> Canal Sur
    </label>
    <label>
        <input type="radio" name="color" value="amarillo"> 1-100
    </label>
</fieldset>