@page "/"

<div class="divMain">
    <h1>Cifras (programa "Cifras y letras" de la tele)</h1>

    <p>Encuentra la solución exacta o aproximación</p>

    <fieldset>
        <legend>Jugadores</legend>
        <label>
            <input type="radio" name="jugadores" checked value=@(Cifras.Core.EJugadores.CPU) @oninput="jugadores_input"> CPU
        </label>
        <label>
            <input type="radio" name="jugadores" value=@(Cifras.Core.EJugadores.CPU_CPU) @oninput="jugadores_input"> CPU contra CPU
        </label>
        <label>
            <input type="radio" name="jugadores" value=@(Cifras.Core.EJugadores.CPU_Human) @oninput="jugadores_input"> CPU contra humano
        </label>
    </fieldset>
    <br />
    <div class="divGrupos" style=@((GeneradorGrupo == null) ? "" : "display:none" )>
        @foreach (var g in Grupos)
        {
            <div class="divGrupo">
                @for (var j = 0; j < g; j++)
                {
                    <div class="divGrupoBlock"></div>
                }
            </div>
        }
        <br />
    </div>
    Número a buscar:
    <input id="num" maxlength="3" />
    <br />
    <br />
    Pistas:
    <input id="0" maxlength="3" value=@GetPista(0) />
    <input id="1" maxlength="3" value=@GetPista(1) />
    <input id="2" maxlength="3" value=@GetPista(2) />
    <input id="3" maxlength="3" value=@GetPista(3) />
    <input id="4" maxlength="3" value=@GetPista(4) />
    <input id="5" maxlength="3" value=@GetPista(5) />
    <br />
    <br />
    <button @onclick="GeneraLa2_Click">Genera La2</button>
    <button onclick="randomCanalSur()">Genera CanalSur</button>
    <button onclick="random100()">Genera 1-100</button>
    <button onclick="resuelve()">Resuelve</button>
    <button onclick="jugar()" disabled=@(Jugadores == Cifras.Core.EJugadores.CPU)>Jugar</button>
    <br />
    <br />
    Solución:
    <br /><pre id="sol" style="border:solid 1px blue;width:150px;height:135px;padding:10px;text-align:right;margin:0 auto"></pre>
    <br />
    <div id="tiempo" style="font-size:12px"></div>
</div>

@code
{
    private Cifras.Core.EJugadores Jugadores = Cifras.Core.EJugadores.CPU;
    private Cifras.Core.Generador.IGeneradorEnunciadoElegirGrupo GeneradorGrupo = null;
    private int[] Grupos = new[] { 6, 6, 6, 6 };
    private Cifras.Core.Enunciado mEnunciado = null;

    private string GetPista(int argIdxPista)
    {
        if (mEnunciado == null || mEnunciado.Pistas == null || argIdxPista < 0 || argIdxPista > mEnunciado.Pistas.Length)
            return string.Empty;

        return mEnunciado.Pistas[argIdxPista].ToString();
    }

    private void jugadores_input(ChangeEventArgs e)
    {
        Jugadores = Enum.Parse<Cifras.Core.EJugadores>
    (Convert.ToString(e.Value));
    }

    private void GeneraLa2_Click()
    {
        var pGenerado = new Cifras.Core.Generador.GeneradorEnunciadoTVE();

        mEnunciado = pGenerado.Generar();
    }
}
